<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://cdn4.iconfinder.com/data/icons/finance-and-banking-free/64/Finance_loan_money-64.png" width="48" height="48" class="d-inline-block align-top" alt="">
    MI PINCHE WEB
  </a>
</nav>